<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.UserMapper">
    <select id="loadUserByUsername" resultType="user" parameterType="String">
        select * from user where username=#{username}
    </select>
    <select id="getUserRolesByUid" resultType="role" parameterType="int">
        select * from role r right join user_role ur on ur.rid = r.id where ur.uid = #{uid}
    </select>
</mapper>