<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>errorPage</h3>
<table border="1">
    <tr th:each="attr : ${#request.getHeaderNames()}">
        <td th:text="${attr}"></td>
        <td th:text="${#request.getHeader(attr)}"></td>
    </tr>
</table>
<table>
    <tr th:each="attr : ${#request.getAttributeNames()}">
        <td th:text="${attr}"></td>
        <td th:text="${#request.getAttribute(attr)}"></td>
    </tr>
</table>
</body>
</html>